mat-form-field {
    display: flex;
    width: 100%;
}

input[type="file"] {
    visibility: hidden;
}

.image-preview {
    margin: 1rem 0;
    height: 5rem;
}

.image-preview img {
    height: 100%;
}