<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignUp(SignupForm)" #SignupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" ngModel placeholder="E-Mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter valid email</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" ngModel placeholder="Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter valid password</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Sign Up</button>
  </form>
</mat-card>
